.card {
  margin-top: 20px;
}

.card-header {
  font-size: 1.25rem;
}

.card-body p {
  margin-bottom: 10px;
}

.alert {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert i {
  margin-right: 10px;
  font-size: 1.5em;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.alert-warning i {
  color: #856404;
}
