<div class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <span class="navbar-brand">
    <a class="nav-link high-contrast" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Rent Relay</a>
  </span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link high-contrast" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item" *ngIf="userRole === 'landlord'">
      <a class="nav-link high-contrast" [routerLink]="['/landlords/properties']" routerLinkActive="active">Properties</a>
    </li>
    <li class="nav-item" *ngIf="userRole === 'landlord'">
      <a class="nav-link high-contrast" [routerLink]="['/landlords/properties/add']" routerLinkActive="active">Add Property</a>
    </li>
    <li class="nav-item" *ngIf="userRole === 'landlord' || userRole === 'tenant'">
      <a class="nav-link high-contrast" [routerLink]="['/maintenance']" routerLinkActive="active">Maintenance</a>
    </li>
    <li class="nav-item" *ngIf="userRole === 'tenant'">
      <a class="nav-link high-contrast" [routerLink]="['/maintenance/add']" routerLinkActive="active">Request Maintenance</a>
    </li>
    <li class="nav-item" *ngIf="userRole === 'landlord' || userRole === 'tenant'">
      <a class="nav-link high-contrast" [routerLink]="['/chat']" routerLinkActive="active">Chat</a>
    </li>
  </ul>
  <div class="form-inline ms-auto" style="margin-right: 10px">
    <auth-button (authStatusChanged)="updateAuthStatus()"></auth-button>
  </div>
</div>
