<div class="container" style="margin-top: 70px" *ngIf="maintenanceRequest">
  <div *ngIf="userRole === 'landlord'">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h2>Maintenance Request ID: {{ maintenanceRequest._id }}</h2>
      </div>
      <div class="card-body">
        <h4 class="text-primary">Maintenance Request Details</h4>
        <div class="row">
          <div class="col-md-6">
            <p><i class="fas fa-calendar-alt"></i> <strong>Request Date:</strong> {{ maintenanceRequest.request_date }}</p>
            <p><i class="fas fa-exclamation-triangle"></i> <strong>Urgency:</strong> {{ maintenanceRequest.urgency }}</p>
            <p><i class="fas fa-info-circle"></i> <strong>Status:</strong> {{ maintenanceRequest.complete ? 'Complete' : 'Incomplete' }}</p>
          </div>
          <div class="col-md-6">
            <p><i class="fas fa-user"></i> <strong>Tenant:</strong> {{ maintenanceRequest.tenant_details.name }} ({{ maintenanceRequest.tenant_details.email }}) ({{ maintenanceRequest.tenant_details.username }})</p>
            <p><i class="fas fa-map-marker-alt"></i> <strong>Property Address:</strong> {{ maintenanceRequest.property_details.address }}, {{ maintenanceRequest.property_details.city }}, {{ maintenanceRequest.property_details.postcode }}</p>
          </div>
        </div>
        <p><i class="fas fa-align-left"></i> <strong>Description:</strong> {{ maintenanceRequest.description }}</p>
      </div>
      <div class="card-footer text-muted d-flex justify-content-between">
        <button class="btn btn-primary" (click)="navigateToEdit()">Edit Request</button>
      </div>
    </div>
  </div>

  <div *ngIf="userRole === 'tenant'">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h2>Maintenance Request ID: {{ maintenanceRequest._id }}</h2>
      </div>
      <div class="card-body">
        <h4 class="text-primary">Maintenance Request Details</h4>
        <div class="row">
          <div class="col-md-6">
            <p><i class="fas fa-calendar-alt"></i> <strong>Request Date:</strong> {{ maintenanceRequest.request_date }}</p>
            <p><i class="fas fa-exclamation-triangle"></i> <strong>Urgency:</strong> {{ maintenanceRequest.urgency }}</p>
            <p><i class="fas fa-info-circle"></i> <strong>Status:</strong> {{ maintenanceRequest.complete ? 'Complete' : 'Incomplete' }}</p>
          </div>
          <div class="col-md-6">
            <p><i class="fas fa-map-marker-alt"></i> <strong>Property Address:</strong> {{ maintenanceRequest.property_details.address }}, {{ maintenanceRequest.property_details.city }}, {{ maintenanceRequest.property_details.postcode }}</p>
          </div>
        </div>
        <p><i class="fas fa-align-left"></i> <strong>Description:</strong> {{ maintenanceRequest.description }}</p>
      </div>
      <!--<div class="card-footer text-muted d-flex justify-content-between">
        <button class="btn btn-danger" (click)="">Delete</button>
      </div>-->
    </div>
  </div>
</div>
