<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center mb-4">Your Properties</h2>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search by address or city" [(ngModel)]="searchTerm" (input)="searchProperties()">
      </div>
      <div *ngFor="let prop of paginatedProperties; trackBy: trackById" class="card mb-3 custom-hover shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Property ID: {{ prop._id }}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> {{ prop.address }}</h5>
          <p class="card-text"><i class="fas fa-bed"></i> {{ prop.number_of_bedrooms }} Bedrooms</p>
          <p class="card-text"><i class="fas fa-bath"></i> {{ prop.number_of_bathrooms }} Bathrooms</p>
          <p class="card-text"><i class="fas fa-calendar-alt"></i> Purchased: {{ prop.purchase_date }}</p>
          <p class="card-text"><i class="fas fa-users"></i> {{ prop.number_of_tenants }} Tenant(s)</p>
          <p class="card-text"><i class="fas fa-city"></i> City: {{ prop.city }}</p>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-info" [routerLink]="['/landlords/properties', prop._id]">View Details</button>
        </div>
      </div>
      <!-- Pagination controls -->
      <nav *ngIf="totalItems > itemsPerPage" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(Math.ceil(totalItems / itemsPerPage)); let i = index" [class.active]="currentPage === i + 1">
            <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === Math.ceil(totalItems / itemsPerPage)">
            <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
