<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center mb-4">Your Properties</h2>
      <div *ngFor="let prop of properties; trackBy: trackById" class="card mb-3 custom-hover shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Property ID: {{ prop._id }}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> {{ prop.address }}</h5>
          <p class="card-text"><i class="fas fa-bed"></i> {{ prop.number_of_bedrooms }} Bedrooms</p>
          <p class="card-text"><i class="fas fa-bath"></i> {{ prop.number_of_bathrooms }} Bathrooms</p>
          <p class="card-text"><i class="fas fa-calendar-alt"></i> Purchased: {{ prop.purchase_date }}</p>
          <p class="card-text"><i class="fas fa-users"></i> {{ prop.number_of_tenants }} Tenant(s)</p>
          <p class="card-text"><i class="fas fa-city"></i> City: {{ prop.city }}</p>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-info" [routerLink]="['/landlords/properties', prop._id]">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
