<div class="chat-container">
  <header class="chat-header">
    <h2>Chat Room</h2>
    <p>Unread Messages: {{ unreadMessages }}</p>
  </header>

  <!-- Landlord's HTML -->
  <ng-container *ngIf="userRole === 'landlord'">
    <section class="property-select">
      <label for="property-select">Select Property:</label>
      <select id="property-select" [(ngModel)]="selectedProperty" (ngModelChange)="loadMessages()">
        <option *ngFor="let property of properties" [value]="property._id">{{ property.name }} - {{ property.address }}</option>
      </select>
      <p>Selected Property ID: {{ selectedProperty }}</p>
    </section>
    <p *ngIf="properties.length === 0">No properties available</p>
  </ng-container>

  <!-- Tenant's HTML -->
  <ng-container *ngIf="userRole === 'tenant'">
    <section class="tenant-messages">
      <p>Messages for your property:</p>
    </section>
  </ng-container>

  <section class="chat-messages" #chatMessages>
  <div *ngFor="let msg of messages; let i = index" class="chat-message" [ngClass]="{'sender': msg.sender === userService.getLoggedInUser(), 'receiver': msg.sender !== userService.getLoggedInUser()}">
    <div *ngIf="i === getFirstUnreadMessageIndex() && userService.getLoggedInUser() !== msg.sender && unreadMessages > 0" class="new-messages-indicator">
      <p>New Messages:</p>
    </div>
    <p><strong>{{ msg.sender }}:</strong> {{ msg.msg }}</p>
    <p class="message-meta">
      <span class="timestamp">{{ msg.timestamp | date:'dd/MM/yyyy HH:mm' }}</span>
      <span class="read-receipt" *ngIf="msg.read_receipt && msg.sender === userService.getLoggedInUser()">Viewed &#10003;</span>
    </p>
  </div>
</section>

  <footer class="chat-input">
    <input [(ngModel)]="message" placeholder="Type your message here..." class="message-input">
    <button (click)="sendMessage()" class="send-button">Send</button>
  </footer>
</div>
